<a href="https://colab.research.google.com/github/Putri-Oktavia/Basic-Python-Programming-for-Data-Science/blob/main/Putri_Oktavia_1800015037.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1oZeOBAOozxedBi-jq-LzN8BQd0NB7Ocy
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk **Kelas Dasar Pejuang Data Sains 2.0** .

Ini adalah **Notebook Variabel & Tipe Data**:

## **Hasil Yang Ingin Dicapai**
1. Memahami input dan output pada python
2. Mengenal dan memahami variabel dan tipe data pada python
3. Mengenal dan memahami struktur data pada python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

##  **Input & Output pada Pyhton**

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [ ]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : Pejuang Data
Umur : 17
Alamat : Yogyakarta

In [ ]:
print(nama)
print(umur)
type(nama)

Pejuang Data
17

str

In [ ]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)

1
1

In [ ]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)

2
2.0

Saatnya kamu mencoba!!!

In [ ]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input ("Umur : ")
alamat = input ("Alamat : ")
instansi = input ("instansi : ")
warna = input ("Warna : ")
buah = input ("Buah : ")

Nama : Putri Oktavia
Umur : 21
Alamat : Pajaresuk, Pringsewu, Lampung
instansi : Universitas Ahmad Dahlan
Warna : Hijau
Buah : Semangka

In [ ]:
print(nama)
print(umur)
print(alamat)
print(instansi)
print(warna)
print(buah)
type(umur)

Putri Oktavia
21
Pajaresuk, Pringsewu, Lampung
Universitas Ahmad Dahlan
Hijau
Semangka

str

In [ ]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)
telepon = int(input())
print(telepon)
kode  = int(input())
print(kode)

7
7
628115589012
628115589012
35278
35278

In [ ]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)
jumlah = float(input())
print(jumlah)
rata = float(input())
print(rata)

7
7.0
17
17.0
9.8
9.8

**Menampilkan Output cara pertama**

In [ ]:
print("Nama saya"+" "+ nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya Pejuang Data yang berumur 17 dan bertempat tinggal di Yogyakarta

Saatnya kamu mencoba!!!

In [ ]:
print("Nama saya"+" "+ nama + " " + "umur saya"+ " " + umur + " " + "saya berasal dari"+ " " + alamat+" "+"saat ini sedang berkuliah di"+" "+instansi+" "+"warna favorit saya adalah"+" "+warna+" "+"dan buah favorit saya adalah"+" "+buah)

Nama saya Putri Oktavia umur saya 21 saya berasal dari Pajaresuk, Pringsewu, Lampung saat ini sedang berkuliah di Universitas Ahmad Dahlan warna favorit saya adalah Hijau dan buah favorit saya adalah Semangka

In [ ]:
print(' nama saya'+" " +'universitas'+ " " +' kota')

 nama saya universitas  kota

In [ ]:
print(' nama saya'+" "+'Putri Oktavia'+" "+'saya kuliah di UAD'+ " " +'yang berada di Yogyakarta')

 nama saya Putri Oktavia saya kuliah di UAD yang berada di Yogyakarta

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [ ]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Dahlan", umur = 18)
txt1

'Nama saya Dahlan, Saya berumur 18'

In [ ]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Dahlan",18)
txt2

'Nama saya Dahlan, Saya berumur 18'

In [ ]:
txt3 = "Nama saya {}, Saya berumur {}".format("Dahlan",18)
txt3

'Nama saya Dahlan, Saya berumur 18'

Saatnya kamu mencoba!!!

In [ ]:
txt1 = "Nama saya {nama}, Saya berumur {umur}, Saya mahasiswa semester {semester}".format(nama = "Putri Oktavia", umur = 21, semester = 6)
txt1

'Nama saya Putri Oktavia, Saya berumur 21, Saya mahasiswa semester 6'

In [ ]:
txt2 = "Nama saya {0}, Saya berumur {1}, Saya mahasiswa semester {2}".format("Putri Oktavia",21,6)
txt2

'Nama saya Putri Oktavia, Saya berumur 21, Saya mahasiswa semester 6'

In [ ]:
txt3 = "Nama saya {}, Saya berumur {}, Saya mahasiswa semester {}".format("Putri Oktavia",21, 6)
txt3

'Nama saya Putri Oktavia, Saya berumur 21, Saya mahasiswa semester 6'

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Pejuang Data yang berumur 17 dan bertempat tinggal di Yogyakarta

Saatnya kamu mencoba!!!

In [ ]:
print("Nama saya %s yang berumur %s berasal dari %s dan sedang berkuliah di %s" %(nama, umur, alamat, instansi))

Nama saya Putri Oktavia yang berumur 21 berasal dari Pajaresuk, Pringsewu, Lampung dan sedang berkuliah di Universitas Ahmad Dahlan

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

In [ ]:
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

In [ ]:
var1 = 'Assalamualaikum, Selamat Pagi Dunia!' #String
var2 = 1307170107102503 # int
var3 = 0.10203021 # float
var4 = True #bool
var5 = 7j+5 #complex

Buat variabelmu sendiri di bawah ini ya!

In [ ]:
var7=' belajar bersama Pejuang Data'
print(var7)

 belajar bersama Pejuang Data

In [ ]:
var7=' Semangat Yok Semangat Pasti Bisa'
print(var7)

 Semangat Yok Semangat Pasti Bisa

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [ ]:
var1

'Assalamualaikum Dunia!'

Saatnya kamu mencoba!!!

In [ ]:
var1

'Assalamualaikum, Selamat Pagi Dunia!'

In [ ]:
var7

' Semangat Yok Semangat Pasti Bisa'

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [ ]:
#My Variabel
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex
print(var7) #tipe data string

Assalamualaikum, Selamat Pagi Dunia!
1307170107102503
0.10203021
True
(5+7j)
 Semangat Yok Semangat Pasti Bisa

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.


**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [ ]:
type(var1)

str

Sekarang coba kamu cek tipe variabel yang udah kamu buat!!!

In [ ]:
# My tipe variabel
type(var1)
type(var2)
type(var3)
type(var4)
type(var5)
type(var7)

str

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Assalamualaikum Dunia! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))
print(var7,'Tipe data var7:', type(var7))

Assalamualaikum, Selamat Pagi Dunia! Tipe data var1: <class 'str'>
1307170107102503 Tipe data var2: <class 'int'>
0.10203021 Tipe data var3: <class 'float'>
True Tipe data var4: <class 'bool'>
(5+7j) Tipe data var5: <class 'complex'>
 Semangat Yok Semangat Pasti Bisa Tipe data var7: <class 'str'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [ ]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [ ]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  10.0 ,type = <class 'float'>
data =  10 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

Saatnya kamu mencoba!!!

In [ ]:
numerik = 17
print("data =", numerik, ", type =", type(numerik))

data = 17 , type = <class 'int'>

In [ ]:
# Mengkonversi tipe data integer
kon_float = float(numerik)
kon_str = str(numerik)
kon_bool = bool(numerik) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  17.0 ,type = <class 'float'>
data =  17 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

Bikin versimu sendiri donk, jangan baca doank! heheheh

In [ ]:
p = [0, 1.7, 'favorit']
p

[0, 1.7, 'favorit']

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Cobain ya!

In [ ]:
x = [1,3,7,10,12,13,17,25]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

13
25
[10, 12]
[1, 3, 7, 10, 12]
[13, 17, 25]
[3, 10, 13]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

Saatnya kamu mencoba!

In [ ]:
#Mengganti elemen
x = [1,3,5,10,13]
x[2]=7
print (x)

[1, 3, 7, 10, 13]

In [ ]:
#Menambah elemen
x = [1,3,5,10,12]
x[2]=7
x.append(13) #append artinya menambah
print(x)

[1, 3, 7, 10, 12, 13]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

In [ ]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

Do it by yourself

In [ ]:
buah = ['semangka', 'anggur','stroberi', 'durian','melon']
del buah[3]
print(buah)

['semangka', 'anggur', 'stroberi', 'melon']

Coba tambahkan kembali:

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

Cobain yaa!

In [ ]:
del buah[3]
print(buah)

['semangka', 'anggur', 'stroberi']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

Cobain yaa!

In [ ]:
s = "Selamat Pagi Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Kerja Keras!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

m
t Pag
Kerja Keras!

In [ ]:
s[5]="e"        #ubah karakter keenam dari string s menjadi "e", seharusnya gagal karena immutable

TypeError: ignored

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

In [ ]:
t = (7,'sistem', 1+6j)
t

(7, 'sistem', (1+6j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [ ]:
t = (7,'sistem', 1+6j)
print(t[1])
print(t[0:3])

sistem
(7, 'sistem', (1+6j))

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

In [ ]:
print(t[0]=7) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

In [ ]:
a = (5, 6, 7,'aku')#bikin sendiri donk, kreatif dikit napa
print (a)
print(a[1])
del[]

(5, 6, 7, 'aku')
6

In [ ]:
varian = ('buah', 'semangka', 'ada',7)
print (varian)
print(varian[0])
del[]
print(varian[1])
del[]

('buah', 'semangka', 'ada', 7)
buah
semangka

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [ ]:
bilangan = {7,7,12,13,25}
print(bilangan)

{25, 12, 13, 7}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

TypeError: ignored

In [ ]:
bilangan = {7,10,12,13,25}
print(bilangan[2])

TypeError: ignored

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
tanaman = {7:'bunga','mawar':10}
print(type(tanaman))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
tanaman = {7:'bunga','mawar':10}
print(type(tanaman))
print("tanaman[7] = ", tanaman[7]);
print("tanaman['mawar'] = ", tanaman['mawar']);

<class 'dict'>
tanaman[7] =  bunga
tanaman['mawar'] =  10

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Nyobain error
print("d[2] = ", d[2]);

KeyError: ignored

In [ ]:
#bikin versimu sendiri yaaa
tanaman = {7:'bunga','mawar':10}
print(type(tanaman))
print("tanaman[7] = ", tanaman[7]);
print("tanaman['mawar'] = ", tanaman['mawar']);

<class 'dict'>
tanaman[7] =  bunga
tanaman['mawar'] =  10

In [ ]:
# Nyobain error
print("tanaman[10] = ", tanaman[10]);

KeyError: ignored

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
list1 = [1,3,7,10,12,13]
list2 = ["satu","tiga","tujuh","sepuluh","duabelas","tigabelas"]
print("data = ", list1 , ",type =", type(list1))
print("data = ", list2 , ",type =", type(list2))

data =  [1, 3, 7, 10, 12, 13] ,type = <class 'list'>
data =  ['satu', 'tiga', 'tujuh', 'sepuluh', 'duabelas', 'tigabelas'] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 3, 7, 10, 12, 13)
{1, 3, 7, 10, 12, 13}
{'satu': 1, 'tiga': 3, 'tujuh': 7, 'sepuluh': 10, 'duabelas': 12, 'tigabelas': 13}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:


*   List merupakan elemen yang tidak harus memiliki tipe data yang sama dan bisa dimulai dengan indeks 0, untuk menyatakan List menggunakan kurung siku dan elemen yang dipisahkan dengan koma.
*   Tuple merupakan bagian dari List karena tidak harus memiliki tipe data yang sama, untuk menyatakan Tuple cukup dengan kurung dan elemen yang dipisahkan dengan koma.
*   Set dapat dinyatakan dengan kurawal dan elemennya dipisahkan dengan koma. Set dapat otomatis menghapus data yang sama dan menyusun elemen secara tidak berurutan.
*   Dictionary dapat dinyatakan dengan kurawal dan setiap variabel dipisahkan dengan koma sedangkan untuk angka dan variabel dipisahkan dengan titik dua.

#**Udah Dulu Ya**

Alhamdulillah